# =====================
# OS
# =====================
.DS_Store

# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================
# Virtual environments
# =====================
.venv/
venv/
env/
.env

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# =====================
# Logs / temp
# =====================
*.log
*.tmp

# =====================
# Docker
# =====================
*.tar

# =====================
# IDEs
# =====================
.vscode/
.idea/

# =====================
# Data (opcional)
# =====================
data/
outputs/
runs/

